# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
jspm_packages/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.idea

### Node template
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Generate output
dist

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock